<!DOCTYPE html>
<html>
<head>
  <title>Reservester</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="nav">
        <% if user_signed_in? %>
          <% if current_user.owner? %>
            <%= link_to "Dashboard", owner_dashboard_path %>
          <% else %>
            <%= link_to "Dashboard", patron_dashboard_path %>
          <% end %>
            |
            <%= link_to "Log out #{current_user.name}", destroy_user_session_path, :method => :delete %>
        <% else %>
            <%= link_to "Log in", new_user_session_path %>
        <% end %>
    </div>

    <p id="notice" class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


    <%= yield %>

</body>
</html>
